/**
 * profile.css
 *
 * These are the styles for the profile page.
 *
 * Index
 * - Profile Infos
 * - Created Bookboxes
 */

/**
 * Profile Infos
 */
#profile {

}

tr {
    vertical-align: top;
}

.logout {
    font-weight: normal;
    font-size: 12pt;
    float: right;
}

.form-label {
    font-weight: bold;
    width: 150px
}

/**
 * Created Bookboxes
 */
.book-box-info {
    border: 1px solid var(--color-secondary);
}
