/**
 * map.css
 *
 * These are the styles for the map component.
 *
 * Index
 * - Mapbox GL Map
 * - Mapbox GL Popup
 * - Mapbox GL Geocoder
 */

/**
 * Mapbox GL Map
 */
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/**
 * Mapbox GL Popup
 */
.mapboxgl-popup-content {
    border-radius: 25px;
}

/**
 * Mapbox GL Geocoder
 */
.geocoder {
    z-index:1;
    position: absolute;
    top:2em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.mapboxgl-ctrl-geocoder {
    width: 100% !important;
    max-width: 100% !important;
}
