/**
 * app.css
 *
 * These are the styles for the application.
 *
 * Index
 * - Globals
 * - Application
 * - Sidebar
 * - Content
 * - Input
 */

/**
 * Globals
 */
:root {
    /*
     * - https://coolors.co/f8f4e3-13070c-92140c-3e78b2-abc798
     */
    --color-primary: #FFFFF;
    --color-primary-rgb: 255, 255, 255;
    --color-secondary: #32292F;
    --color-danger: #92140C;
    --color-info: #3E78B2;
    --color-success: #ABC798;
}

/**
 * Application
 */
body {
    margin: 0;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-size: 14pt;
}

.app {
    width: 100%;
    overflow: hidden;
}

/**
 * Sidebar
 */
.sidebar {
    display: block;
    height: calc(100vh);
    float: left;
    position: relative;
    z-index: 1;
}

/**
 * Content
 */
.content {
    display: block;
    position: static;
    z-index: 0;
    transition: ease-in-out .2s;
}

.content > :not(#map) {
    position: absolute;
    left:  50%;
    top: 10%;
    transform: translate(-50%, 0);
    padding: 3em;
}
